//Fontes
$fontRegular: "Nunito Regular";
$fontBold: "Nunito Bold";
$fontLight: "Nunito Light";
$fontItalic: "Nunito Italic";

$desktopBreakpoint: 768px;

//Branco
$white: #ffffff;

// Azul claro
$lightBlue1: #55d1ec;
$lightBlue2: #40bfd9;
$lightBlue3: #2badc7;
$lightBlue4: #159ab4;
$lightBlue5: #0088a1;

//Azul escuro
$darkBlue1: #0e3fc9;
$darkBlue2: #0b32b7;
$darkBlue3: #0725a4;
$darkBlue4: #041792;
$darkBlue5: #000a7f;

//Cinza
$grey1: #e7efe3;
$grey2: #d5dcd1;
$grey3: #c2cabe;
$grey4: #b0b7ac;
$grey5: #9da499;

//Preto
$black1: #1a2325;
$black2: #141a1c;
$black3: #0d1213;
$black4: #070909;
$black5: #000000;

//Vermelho
$red1: #f90e1e;
$red2: #e30b17;
$red3: #cd070f;
$red4: #b60408;
$red5: #a00000;