@import '../styles/configs.scss';

.container-footer {
  display: flex;
  background-color: $white;
  width: 100%;
  height: 6%;
  box-shadow: $grey1 0px -2px 4px;
  border-top: 1px solid $grey1;

  .navigation-footer {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0 30px;
    padding: 0;

    li {
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
