@import '../styles/configs.scss';

.container-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden scroll;
  padding: 10px 10px;

  .logo {
    margin-bottom: 60px;
    max-width: 228px;
  }

  form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $white;
    height: 60%;
    padding: 0px 10px;

    button {
      &.loginBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $fontBold;
        background-color: $lightBlue1;
      }

      &.disabledBtn {
        background-color: $grey2 !important;
      }

      &.focus {
        border-color: $lightBlue1;
      }

      &:hover {
        border-color: $lightBlue1;
      }
    }

    .loginFooter {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 60px;

      p {
        margin-bottom: 3px;
        color: $lightBlue1;
        border-radius: 3px;
        padding: 0px 3px;

        &:hover {
          color: $white;
          background-position: right;
          background-color: $lightBlue1;
          transition: background-color 0.5s ease;
        }
      }
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    display: flex;
    flex-direction: row;
    padding: 20px;

    .logo {
      max-width: 40%;
      margin-right: 100px;
      flex: 1;
      padding: 30px;
      align-items: center;
    }

    form {
      padding: 20px;
      width: 30%;
      border: 1px solid $lightBlue1;
      border-radius: 8px;

      .container-input {
        width: 80%;
      }
    }
  }
}
