@import '../styles/configs.scss';

.container-options {
  display: flex;
  flex: 1;

  .container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-shadow: $grey2 0px 4px 4px;

    div {
      display: flex;
      background-color: $white;
      width: 100%;
      height: 20%;
      justify-content: center;
      align-items: center;
      padding: 8px;
      margin-bottom: 10px;
      box-shadow: $grey2 0px 1px 4px;

      &:hover {
        border-color: $lightBlue1;
        box-shadow: $lightBlue1 0px 1px 4px;
        background-color: $lightBlue1;

        p {
          color: $white;
        }
      }

      p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-family: $fontBold;
        color: $lightBlue1;
        font-size: 20px;
        margin: 10px;
        width: 100%;
        height: 100%;
      }

      img {
        margin-right: 10px;
        margin-left: 30px;
        width: 30px;
      }
    }
  }

  @media screen and (min-width: $desktopBreakpoint) {
    flex: none;
  }
}
